@model TorneioLutas.Service.Models.Torneio

@{
    ViewData["Title"] = "Resultado";
}

<h1 class="text-center">Resultado do Torneio</h1>

<section id="bracket">
    <div class="container">
        <div class="split split-one">
            <div class="round round-one">
                <div class="round-details">Oitavas</div>
                <ul class="matchup">
                    <li class="team team-top">@Model.Oitavas[0].Lutador1.Nome</li>
                    <li class="team team-bottom">@Model.Oitavas[0].Lutador2.Nome</li>
                </ul>
                <ul class="matchup">
                    <li class="team team-top">@Model.Oitavas[1].Lutador1.Nome</li>
                    <li class="team team-bottom">@Model.Oitavas[1].Lutador2.Nome</li>
                </ul>
                <ul class="matchup">
                    <li class="team team-top">@Model.Oitavas[2].Lutador1.Nome</li>
                    <li class="team team-bottom">@Model.Oitavas[2].Lutador2.Nome</li>
                </ul>
                <ul class="matchup">
                    <li class="team team-top">@Model.Oitavas[3].Lutador1.Nome</li>
                    <li class="team team-bottom">@Model.Oitavas[3].Lutador2.Nome</li>
                </ul>
                <ul class="matchup">
                    <li class="team team-top">@Model.Oitavas[4].Lutador1.Nome</li>
                    <li class="team team-bottom">@Model.Oitavas[4].Lutador2.Nome</li>
                </ul>
                <ul class="matchup">
                    <li class="team team-top">@Model.Oitavas[5].Lutador1.Nome</li>
                    <li class="team team-bottom">@Model.Oitavas[5].Lutador2.Nome</li>
                </ul>
                <ul class="matchup">
                    <li class="team team-top">@Model.Oitavas[6].Lutador1.Nome</li>
                    <li class="team team-bottom">@Model.Oitavas[6].Lutador2.Nome</li>
                </ul>
                <ul class="matchup">
                    <li class="team team-top">@Model.Oitavas[7].Lutador1.Nome</li>
                    <li class="team team-bottom">@Model.Oitavas[7].Lutador2.Nome</li>
                </ul>
            </div>	<!-- END ROUND ONE -->

            <div class="round round-two">
                <div class="round-details">Quartas</div>
                <ul class="matchup">
                    <li class="team team-top">@Model.Quartas[0].Lutador1.Nome</li>
                    <li class="team team-bottom">@Model.Quartas[0].Lutador2.Nome</li>
                </ul>
                <ul class="matchup">
                    <li class="team team-top">@Model.Quartas[1].Lutador1.Nome</li>
                    <li class="team team-bottom">@Model.Quartas[1].Lutador2.Nome</li>
                </ul>
                <ul class="matchup">
                    <li class="team team-top">@Model.Quartas[2].Lutador1.Nome</li>
                    <li class="team team-bottom">@Model.Quartas[2].Lutador2.Nome</li>
                </ul>
                <ul class="matchup">
                    <li class="team team-top">@Model.Quartas[3].Lutador1.Nome</li>
                    <li class="team team-bottom">@Model.Quartas[3].Lutador2.Nome</li>
                </ul>
            </div>	<!-- END ROUND TWO -->

            <div class="round round-three">
                <div class="round-details">Semi</div>
                <ul class="matchup">
                    <li class="team team-top">@Model.Semi[0].Lutador1.Nome</li>
                    <li class="team team-bottom">@Model.Semi[0].Lutador2.Nome</li>
                </ul>
                <ul class="matchup">
                    <li class="team team-top">@Model.Semi[1].Lutador1.Nome</li>
                    <li class="team team-bottom">@Model.Semi[1].Lutador2.Nome</li>
                </ul>
            </div>	<!-- END ROUND THREE -->
            <div class="round round-four">
                <div class="round-details">Final</div>
                <ul class="matchup">
                    <li class="team team-top">@Model.Final.Lutador1.Nome</li>
                    <li class="team team-bottom">@Model.Final.Lutador2.Nome</li>
                </ul>
            </div>	<!-- END ROUND FOUR -->
            <div class="round round-five champion">
                <div class="round-details">Campeão</div>
                <ul class="matchup">
                    <li class="team team-top">@Model.Vencedor.Nome</li>
                </ul>
            </div>	<!-- END CHAMPION -->
        </div>
    </div>
</section>



